<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="02B5F842-21E3-4AB0-9350-ECA2A15151C8"
	         Name="RBC Console v1.0.1"
	         Language="1033"
	         Version="1.0.1"
	         UpgradeCode="75B576DB-23FB-4D73-96E8-DE43A1FAE3B5"
	         Manufacturer="rbcwales.org">
		<Package Description="Install RBC Console v1.0.1 (rbcwales.org)"
		         Comments="Comments"
		         InstallerVersion="200"
		         Compressed="yes"/>
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<Feature Id="Complete" Title="RBC Console v1.0.1" Description="RBC Console application for interfacing with RBC database" Level="1">
			
			<ComponentRef Id="RbcConsoleExe" />
			<ComponentRef Id="RbcConsoleConfig" />
			<ComponentRef Id="RbcConsoleDebug" />
			<ComponentRef Id="ITextSharp" />
			<ComponentRef Id="RbcToolLibrary" />
			<ComponentRef Id="RbcToolLibraryDebug" />
			
			<ComponentRef Id="AddToPath" />
			
			<ComponentRef Id="ApplicationShortcut" />
			
			<!--<ComponentRef Id="MyComponent"/>-->
		</Feature>
		
		<!--
 			Using the Wix UI library.

			WixUI_Minimal is the most basic of the WixUI stock dialog sets.
 			Its sole dialog combines the welcome and license-agreement 
			dialogs and omits the feature customization dialog. 
			WixUI_Minimal is appropriate when your product has no optional 
			features.
 		-->
		<UIRef Id="WixUI_Minimal"/>
	</Product>
</Wix>
